<% if page.current? %>
  <span class="action-secondary"><%= page %></span>
<% else %>
  <%= link_to page, url, remote: remote, rel: page.rel, class: "action-back text-gray-800 font-light" %>
<% end %>
